
#top-bar {
    display: flex;
    border: 1px solid black;
    height: 10vh;
    justify-content: space-evenly;
    font-size: 30px;
}
#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 65vh;
    width: 98vw;
    border: 1px solid #707070;
    margin: auto;
    grid-gap: 80px;
}
#left-reel {
    border: 1px solid black;
    /* background-image: url('imgs/left-reel.jpg'); */
}
#middle-reel {
    border: 1px solid black;
    /* background-image: url('imgs/tombstone_1993_10_0.jpg'); */
}
#right-reel {
    border: 1px solid black;
}
#bottom-bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    border: 1px solid black;
    height: 20vh;
}
#spinBtn {
    border-radius: 80%;
    padding: 0 80px;
    background-color: rgb(65, 157, 243);
    color: white;
    font-size: 2em;
    text-align: center;
}

p {
    font-size: 100px;
    text-align: center;
}