body {
    display: grid;
    height: 98vh;
    grid-template-rows: 1fr 10fr 2fr;
}
header {
    text-align: center;
    align-self: end;
    font-size: 3em;
    border: 3px solid red;
}
main {
    display: grid;
    /* grid-gap: 2em; */
    border: 5px solid green;
    /* height: 80vh; */
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
footer {
    display: grid;
    font-size: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    border: 10px solid blue;
}
#left-reel {
    border: 4px solid black;
    /* align-self: center;
    grid-auto-rows: auto; */
}
#middle-reel {
    border: 4px solid black;
    /* align-self: center;
    grid-auto-rows: auto; */
}
#right-reel {
    border: 4px solid black;
    /* align-self: center;
    grid-auto-rows: auto; */
}
#spinBtn {
    border-radius: 80%;
    font-size: 2em;
    padding: 8px 30px;
    text-align: center;
    background-color: green;
    color: white;
}
#bet {
    grid-template-columns: 1fr;
    justify-self: center;
    text-align: center;
}
#bet > button {
    align-self: center;
    font-size: 1em;
    text-align: center;
}
p {
    margin: 0;
}
input {
    font-size: 1em;
    text-align: center;
}
#player-money {
    font-size: 2em;
    color: green;
}