/* 
 font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Raleway', sans-serif;
*/



body {
    background-image: url('https://images.unsplash.com/photo-1509316785289-025f5b846b35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80');
    background-size: cover;
    display: grid;
    margin: 0 auto;
    margin-top: 50px;
    height: 50vh;
    width: 35vw;
    grid-template-rows: 1fr 4fr 1fr;
}
header {
    text-align: center;
    align-self: end;
    font-size: 2em;
    /* border: 3px solid red; */
}
main {
    display: grid;
    /* grid-gap: 1em; */
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
#top-bar {
    font-family: 'Montserrat', sans-serif;
    color: black;
}
/* .doc {

}
.virgil {

}
.wyatt {

} */
.doc {
    background-image: url('imgs/doc.png');
    background-size: 15vh;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
}
.virgil {
    background-image: url('imgs/virgil.png');
    background-size: 15vh;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
}
.wyatt {
    background-image: url('imgs/wyatt.png');
    background-size: 15vh;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
}
#left-reel, #middle-reel, #right-reel {
    border: 1px solid black;
}
#spinBtn {
    font-size: 2em;
    text-align: center;
    background-color: green;
    color: white;
}
#spinBtn:hover {
    cursor: pointer;
}
#bet {
    display: block;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    text-align: center;
}
#player-money {
    font-size: 1em;
    color: green;
}
