
html {
    margin-top: 0;
    background-size: 100vw;
    background-size: cover;
    background-image: url('imgs/tombstone-arizona-joe-granita.jpg') 
}
body {
    background-image: url('imgs/slotMachine2.svg');
    background-size: 100% 103%;
    background-position: top center;
    background-repeat: no-repeat;
} 
.slot-wrapper {
    display: grid;
    min-width: 300px;
    margin: 0 auto;
    height: 100vh;
    width: 30vw;
    grid-template-rows: 1fr 1fr 1fr;  
}
header {
    text-align: center;
    align-self: end;
    font-size: 2em;
    margin-top: 19vh;
}
main {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;

}
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5vh;
    justify-items: center;
    align-items: center;
}
#credits {
    color: white;
    font-size: 28px;
}
#top-bar {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10vh;
    border-radius: 5%;
    color: white;
}
.doc {
    background-image: url('imgs/doc.png');
    background-size: 7vw 20vh;
    background-repeat: no-repeat;
    background-position: center;
}
.virgil {
    background-image: url('imgs/virgil.png');
    background-size: 7vw 20vh;
    background-repeat: no-repeat;
    background-position: center;
}
.wyatt {
    background-image: url('imgs/wyatt.png');
    background-size: 7vw 20vh;
    background-repeat: no-repeat;
    background-position: center;
}
#spinBtn {
    font-size: 2em;
    text-align: center;
    background-color: #b69578;
    border: 2px solid #987e66;
    color: white;
}
#spinBtn:hover {
    cursor: pointer;
}
#bet {
    display: block;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    text-align: center;
}
#player-money {
    font-size: 1em;
    color: #f8f8ff;
}
